<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--  costum css  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    //<title>Node Server</title>
    title= title
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
    <div class="jumbotron">
        <h1>Node.JS</h1>
        <p id="text1">Eigentlich Test aber... </p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3>In Datenbank schreiben:</h3>
                <div class="input-group mb-3">
                    <form method="get">
                        <div class="form-group">
                            <input name="name" aria-label="name" placeholder="Name" type="text" class="form-control" id="inputName" aria-describedby="name">
                            <small id="name" class="form-text text-muted">Wir teilen Ihre Daten mit niemandem!</small>
                        </div>
                        <div class="form-group">
                            <input name="address" aria-label="address" placeholder="Adresse" type="text" class="form-control" id="inputAdress">
                        </div>
                        <button type="submit" class="btn btn-primary">Nutzer erstellen</button>
                    </form>
                </div>
            </div>
            <div class="col-6">
                <h3>Aus Datenbank lesen:</h3>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Adresse</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        td= message
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--  So wird text auf der Seite ersätzt.  -->
    <script>text1 = document.getElementById("text1").innerHTML = "Hello World!";</script>
</body>
</html>
